@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model IndexViewModel
    Context.Request.Cookies.TryGetValue("Role", out string role);
    if (role == "Admin")
    {
        Layout = "_LayoutAuthorizedAdmin";
    }
    if (role == "User")
    {
        Layout = "_LayoutAuthorizedUser";
    }
}
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<div class="container-fluid">
            <div class="container">
                <div class="d-flex flex-row card-line justify-content-around">
                    @foreach(var fridge in Model.Fridges)
                    {
                        <div class="flex-col-3">
                            <div class="card" style="width: 18rem;">
                                <img src="https://cdn.shopify.com/s/files/1/0036/4806/1509/products/8f19d4d2b8554289d1ad8c1bb28fd0be357cd0d3_square2911285_1.jpg?v=1634667587" class="card-img-top" alt="fridge image">
                                <div class="card-body">
                                    <h5 class="card-title">@fridge.Name</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">@fridge.AccountName</h6>
                                    <h6 class="card-subtitle mb-2 text-muted">@fridge.Type</h6>
                                    <a href="/Fridge/Assortment?fridgeId=@fridge.Id" class="card-link">Перейти</a>
                                    <a href="/Fridge/Delete?fridgeId=@fridge.Id" class="link-dark"><span class="material-symbols-outlined">delete</span></a>

                                </div>
                            </div>
                        </div>
                    }
                 </div>
            </div>
</div>
<div class="align-content-center">   
    @if (Model.PageViewModel.HasPreviousPage)
    {
        <ul class="pagination">
            <li>
                <a asp-action="Fridges" asp-route-page="@(Model.PageViewModel.PageNumber - 1)" class="btn btn-default">
                    <i class="glyphicon glyphicon-chevron-left"></i>
                    Назад
                </a>
            </li>
        </ul>
        
    }
    @if (Model.PageViewModel.HasNextPage)
    {
        <ul class="pagination">
            <li>
                <a asp-action="Fridges"
                   asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
                   class="btn btn-default">
                    Вперед
                    <i class="glyphicon glyphicon-chevron-right"></i>
                </a>
            </li>
        </ul>
    }
</div>
 
